<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245536404385-0pr2ec4nrv0qdp99oinvd33fm2i8pru0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245536404385-0pr2ec4nrv0qdp99oinvd33fm2i8pru0</string>
	<key>API_KEY</key>
	<key>GCM_SENDER_ID</key>
	<string>245536404385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bonte.bonte</string>
	<key>PROJECT_ID</key>
	<string>bonte-dc1d7</string>
	<key>STORAGE_BUCKET</key>
	<string>bonte-dc1d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245536404385:ios:73c946b134133faf26d1e0</string>
</dict>
</plist>
